@using WebApplication1.Models
@model List<ProductModel> 

    
 <div class = "row pb-2">
            <h2 class = "text-primary">Product List </h2>
            <hr />
        </div>

<p>
    <a type="button" class="btn btn-success" asp-action="AddProduct">Add new Product </a> </p>
    <a type="button" class="btn btn-success" asp-action="UpdateProduct" >Update Product</a>
<p></p>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Category Name
        </th>
        <th>
            Price
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>


        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            <a type="button" class="btn btn-danger" asp-action="DeleteProduct"  asp-route-id="@item.Id">Delete</a>
            
        </td>
    </tr>
}
    </tbody>
</table>
